:root{
	--main-color:#19c8fa;
	--section-padding:100px 0;
}
/* start Global Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
	
}
/* small screens*/
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium screens*/
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large screens*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end Global Rules */
/*start Components */
.main-heading{
	text-align: center;
}
.main-heading h2{
	font-size: 50px;
	font-weight: normal;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.main-heading h2::before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	width: 120px;
	height: 2px;
	background-color: #333;
}
.main-heading h2::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -40px;
	transform: translateX(-50%);
	width: 14px;
	height: 14px;
	border: 2px solid #333;
	border-radius: 50%;
	background: #fff;

}
.main-heading p{
	max-width: 550px;
	margin: 0 auto 100px;
	line-height: 1.4;
	color: #777;
}



/*end   Components */
/* start header */
header{
	z-index: 2;
	background: black;
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center ;
	position: relative;
	min-height: 97px;
}
header .container::after{
	content: "";
	background:#a2a2a2;
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	bottom: 0px;
	left: 15px;
	z-index: -1;
}
header .logo img{
	height: 40px;
}
header nav{
	flex:1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header ul{
	display: flex;
}
@media (max-width:768px) {
	header ul{
		display: none;
	}
	ul.open{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bolder;
	background: rgba(0, 0, 0, 0.719);
	border-radius: 10px;
	}
}
header  ul a{
	display: block;
	padding: 40px 10px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
}
header  ul a:hover,
header  ul a:focus{
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
header .form{
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header .form img{
	width: 80%;
	margin-left: 10px;
	position: absolute;
}
.menu{
	position: relative;
	width: 40px ;
	cursor: pointer;
}
.burger-menu{
	background: white;
	height: 2px;
	width: 100%;
	position: absolute;
	
}
.burger-menu.open{
	background: transparent;
	transition: 1s;
}
.burger-menu::before{
	position: absolute;
	content: "";
	background:white;
	width: 100%;
	height:inherit;
	transform: translateY(10px);
}.burger-menu.open::before{
	transform: rotate(225deg);
}

.burger-menu::after{
	position: absolute;
	content: "";
	background:white;
	width: 100%;
	height:inherit;
	transform: translateY(-10px);
}.burger-menu.open::after{
	transform: rotate(135deg);
}
@media (min-width:768px) {
	.menu{
		display:none;
	}
}
/* end header */

/* start landing */
.landing{
	min-height: 100vh;
	background-color: #1f2021;
	background-image: url("../images/landing.jpg");
	background-size: cover;
	background-position:center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: -1;
}
.landing .overlay{
	position:absolute ;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: inherit;
}
.landing .text{
	background-color: rgba(15, 115, 143, 0.787);
	display: flex;
	padding: 50px;
	justify-content: flex-end;
	width: 50%;
	color:white;
}
.landing .content{
	max-width:600px;
}
@media(max-width:767px){
	.landing .text{
		width: 100%;
	}
	.landing .content{
		width: 100%;
	}
}
.landing .content h2{
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
}
.landing .content p{
	font-size: 14px;
	line-height: 1.4;
}
.landing .arrows{
	display: flex;
	justify-content: space-between;
	position: absolute;
	min-width: calc(100vw - 40px);
	padding: 10px;
}
.landing .arrows img{
	width:30px; 
}
@media(max-width:767px){
	.landing .arrows{
		display: none;
	}
}
.landing .dots{
	position: absolute;
	bottom: 0px;
	left: calc(50% - 50px);
	display: flex;
}
.landing .dots li{
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 10px;
}
.landing .dots li.active{
	background: var(--main-color);
}

/* end landing */

/* start services */
.services{
	padding:var(--section-padding);
}
@media (min-width:768px) {
	.services .services-container{
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
		row-gap: 60px;
		column-gap: 40px;
	}
}
.services .box{
	display:flex;
}
.services .box img{
	margin-right:50px;
	width:60px;
}
@media (max-width:768px){
	.services .box{
		flex-direction: column;
		text-align: center;
	}
	.services .box img{
		margin: 30px auto;
	}
}
.services .box h3{
	margin-bottom: 30px;
	color: var(--main-color);
}
.services .box p{
	line-height: 1.4;
	color: #777;
}

/* end   services */
/* start  design */
.design{
	padding: var(--section-padding);
	height: 600px;
	position: relative;
	background-image: url(../images/design-features.jpg);
	background-size: cover;
	background-position: center;
	display:flex;
	align-items:center;
	overflow: hidden;
}
.design::before{
	content:"";
	position:absolute ;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}
.design .img,
.design .text{
	z-index: 1;
	position: relative;
	flex: 1;
}
.design .img{
	text-align: center;
	bottom: -150px;
}
@media (max-width:767px) {
	.design .img{
		display: none;
	}
}
.design .text{
	color: white;
	padding: 50px;
	background: rgba(15, 115, 143, 0.787);
}
.design .text h2{
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.design .text li{
	padding:15px 0;
}
.design .text li img{
	width: 20px;
	margin-bottom: -7px;
	margin-right: 10px;
}
/* end    design */
